@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Eliminamos cualquier color fijo del body */
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    @apply antialiased transition-colors duration-300;
  }

  /* Si NO hay clase .dark, forzamos blanco */
  html:not(.dark) body {
    background-color: #ffffff !important;
    color: #0f172a !important;
  }

  /* Si HAY clase .dark, forzamos el azul Cezeus */
  html.dark body {
    background-color: #050A15 !important;
    color: #ffffff !important;
  }
}